py/ztools/keys.txt
py/INFO
py/NSCB_output
py/NSCB_extracted
py/extract
py/ztools/Fs/__pycache__
py/ztools/nutFs/__pycache__
py/ztools/lib/__pycache__
py/list.txt
py/advlist.txt
py/ztools/dbwork
py/badfiles.txt
py/mlist.txt
py/splist.txt
py/zconfig/DB/
py/DBL.txt
py/ztools/test.py
py/ztools/Chromium/
py/ztools/lib/tester.py
py/zzlist.txt
py/mnglist.txt
py/rstlist.txt
py/*.nsp
py/*.xci
py/*.nsz
py/*.nsx
py/*.nsz
py/zconfig/api.txt
py/lists/a_multi/mlist.txt
*.xcz
*.nsz
*.nsx
*.xci
*.nsp
